#wrapper {
    display: grid;
    height: 100vh;
    grid-template-rows: 15% 5% 35% 45% 20%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'hd hd hd hd hd'
    'nv nv nv nv nv'
    'img1 mn mn mn img5'
    'img1 img2 img3 img4 img5'
    'ft ft ft ft ft'
    ;
}
header {
    grid-area: hd;
    background-color: aliceblue;
}
nav {
    grid-area: nv;
    background-color: blueviolet;
}
main {
    grid-area: mn;
    background-color: aquamarine;
}
main p {
    margin-left: 15px;
}
#img1 {
    grid-area: img1;
    background-color: rgb(225, 0, 0);
}

#img2 {
    grid-area: img2;
    background-color: rgb(226, 226, 226);
}

#img3 {
    grid-area: img3;
    background-color: rgb(212, 99, 99);
}

#img4 {
    grid-area: img4;
    background-color: rgb(64, 255, 0);
}

#img5 {
    grid-area: img5;
    background-color: rgb(255, 238, 0);
}

footer {
    grid-area: ft;
    background-color: blanchedalmond;
}